<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHuub33o9EKfAmT_HvFKT5YQ1r-0Q2DcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>261967154396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tickerwatch</string>
	<key>PROJECT_ID</key>
	<string>tickerwatch-983c4</string>
	<key>STORAGE_BUCKET</key>
	<string>tickerwatch-983c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:261967154396:ios:0d64d5e1a0d0c2f9fcb819</string>
</dict>
</plist>